.nav_style{
    background: white;
    box-shadow: 0 10px 30px 0 rgba(138, 132, 132, 0.293);
}
.navbar-brand>img{
    height: 35px;
    object-fit: contain;

}
.navbar-nav>li>a{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: black;
    cursor: pointer;
    position: relative;
}
.navbar-nav>li>a:before{
    content: "";
    width: 0px;
    height: 3px;
    position: absolute;
    top: 100%;
    bottom: 50%;
    background-color: #ff7230;
    
}
.navbar-nav>li>a:hover:before{
    width: 80%;
    transition: all .2s ease-in-out;
}
.navbar-nav >li .active{
    color: #ff7230 !important;
}
@media(max-width:998px){
    .navbar-nav{
        margin-top: 20px;
        text-align: center;
    }
    .navbar-nav>li>a:hover:before{
        width: 0;
        transition: all .2s ease-in-out;
    }

}

